@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  a{
    @apply text-[#fff] font-bold  
  }
  /* table{
    @apply text-base w-full flex flex-col justify-between 
  }
  tr{
    @apply w-auto flex justify-between
  }
  td, th {
    @apply w-1/4 border border-[#c4c4c4] flex justify-center items-center p-3 border-collapse
  }
  td{
    @apply text-sm
  }
  th{
    @apply  font-extrabold
  } */
}
@layer base{
  html{
    font-family: 'Archivo', sans-serif;
  }
}

header{
  background-color: #080A0C;
  background-image: url(../src/assets/walletbackgroundgradient.png);
  background-position: center;
  background-size: cover;
}

#walletSection{
  background-color: #080A0C;
  background-image:url(../src/assets/sectionBackground.png);
  background-position: center 0;
  background-size:cover;
  background-repeat: no-repeat;
}


#explorer{
  background-color: #323546;
  background-image:url(../src/assets/manageBackground.png);
  background-position: center 0;
  background-size:cover;
  background-repeat: no-repeat;
}

#manage{
  background-color: #080A0C;
  background-image:url(../src/assets/getWalletBackground.png);
  background-position: center 0;
  background-size:cover;
  background-repeat: no-repeat;
}
.dropdown {
  background-image:url(../src/assets/dropdownbackground.png);
  background-position: center 0;
  background-size:cover;
  background-repeat: no-repeat;
  outline-style: "solid";
  outline-width: "1px";
  outline-color: "rgba(255, 0, 203, 0.15)";
  outline-offset: "-1px";
}

.companydropdown {
  /* background-image:url(../src/assets/companydropdown.png); */
  background-position: center 0;
  background-size:cover;
  background-repeat: no-repeat;
  outline-style: "solid";
  outline-width: "1px";
  outline-color: "rgba(255, 0, 203, 0.15)";
  outline-offset: "-1px";
}

#faq{
  background-color: #080A0C;
  background-image: url(../src/assets/walletbackgroundgradient.png);
  background-position: center;
  background-size: cover;
}
#explore{
  background-color: #080A0C;
  background-image: url(../src/assets/explore.png);
  background-position: center;
  background-size: cover;
}


.open,.icon {
  cursor: pointer;
}